body{
  background-color: #D8E6F2;
  text-align: left;
  color: #516673
}
h1{
  font-family: "Century Gothic";
  color: #1B1F26;
  font-weight: bold;
  text-align: center;
}
h3{
  font-family: "Century Gothic";
  color: #1B1F26;
  font-weight: bold;
  text-align: center;
}
.navbar-custom {
  background-color: #1B1F26;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #D8E6F2;
  font-family: "Baskerville Old Face";
  font-weight: bold;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.jumbotron{
  background-color: #96B3D9;
}
div{
  text-align: left;
}

